/** The following stylesheet follows utility CSS paradigm */

html {
  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 24px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100vw;
  height: 100vh;
}

.font-1_2rem {
  font-size: 1.2rem;
}

.text-centered {
  text-align: center;
}

.left-padded-30 {
  padding-left: 30px;
}

.vertically-padded-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-shadowed-2 {
  box-shadow: 0px 2px 2px 2px gray;
}

.grid_30_70_split {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.underscored {
  text-decoration: underline;
}

.white {
  color: white;
}

.image {
  background-image: url('images/roan_lavery.jpg');
  background-size: cover;
  height: 100vh;
}

.width-150 {
  width: 150px;
}

.width-500 {
  width: 500px;
}

.row-flex {
  display: flex;
  flex-flow: row nowrap;
}

.uppercase {
  text-transform: uppercase;
}
