/** The following stylesheet follows utility CSS paradigm */

html {
  box-sizing: border-box;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 24px;
  font-family: Mukta Regular, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

/** Layout styles */
body {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100vw;
  height: 100vh;
}

.grid_30_70_split {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.row-flex {
  display: flex;
  flex-flow: row nowrap;
}

.gap-40 {
  gap: 40px;
}

/** Font styles */
.font-1_2rem {
  font-size: 1.2rem;
}

.font-0_7rem {
  font-size: 0.7rem;
}

/** Padding styles */
.left-padded-30 {
  padding-left: 30px;
}

.vertically-padded-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/** Width styles */
.width-150 {
  width: 150px;
}

.width-500 {
  width: 500px;
}

/** Height styles */
.height-1_2rem {
  height: 1.2rem;
}

/** Text styles */
.text-centered {
  text-align: center;
}

.underscored {
  text-decoration: underline;
}

.bottom-shadowed-2 {
  box-shadow: 0px 5px 9px 0px rgba(127, 127, 127, 0.3);
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: white;
}

.image {
  background-image: url('images/roan_lavery.jpg');
  background-size: cover;
  height: 100vh;
}

.captioned {
  position: relative;
}

.captioned::before {
  position: absolute;
  content: attr('data-name');
}
